* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
    font-size: 16px;
    color:white;
}


h1,strong {
    font-size: 2rem;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: tomato;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background-size: auto;
    display: flex;
    align-content: center;
    justify-content: center;
}

body.loading{
    background: rgb(7, 7, 7) url('http://code.jquery.com/mobile/1.3.1/images/ajax-loader.gif') no-repeat 50% 50%;
    -webkit-transition: background-color 0;
    transition: background-color 0;
    opacity: 0;
    -webkit-transition: opacity 0;
    transition: opacity 0;
 }


.flex {
    display:flex;
    gap: 1.2rem;
    padding-bottom: 0.2rem;
    align-items: center;
}



.card {
    margin: 15vh 5vw 5vh 5vw;
    padding-top: 2vh;
    padding-bottom: 2vh;

    display: grid;
    place-items:center;
    gap: 1vh;

    height: 60%;
    width: 50%;

    background: rgba( 255, 255, 255, 0.55 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.search-bar {
    border: none;
    outline: none;
    background: rgba( 255, 255, 255, 0.35 );
    border-radius: 10px;
    text-indent: 0.5rem;
    font-family: inherit;
    font-size: 105%;
    width: 80%;
}

button {
  border:none;
  outline: none;
  background: transparent;
  color: white;
  cursor: pointer;
}

.temp {
    font-size: 3rem;
}

img {
    height: 2rem;
    width: 2rem;
}

.icon  {
    color:white;
}

.units-f + .units-c {
    font-size: 0.8rem;
}

.units-c {
    display: none;
}

@media screen and (max-width: 480px) {
    * {
        font-size: 12px;
    }

    h1 {
        text-align:center;
    }

    .card {
        gap:0;
    }

    .search-bar {
        width: 50%;
        margin-left: 3rem;
        

    }
}

